<div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link" routerLink="/admin/dashboard" routerLinkActive="active">Dashboard</a>
      </li>
      <li class="nav-item" >
          <a class="nav-link" routerLink="/admin/adminlist" routerLinkActive="active">Admin</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/admin/userlist" routerLinkActive="active">Users</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/admin/tourexperts" routerLinkActive="active">Tour Expert</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/admin/hotels" routerLinkActive="active">Hotels</a>
      </li>
      <li class="nav-item" >
        <a class="nav-link" routerLink="/admin/journeys" routerLinkActive="active">Journeys</a>
      </li>  
     
    </ul>
  </div>