
<app-header></app-header>

<div class="container-fluid">
    <div class="card shadow mb-4">
        <app-admin-header></app-admin-header>
        <div class="text-center">
            <table class="table table-striped mb-0">
                <thead>
                  <tr>
                    <th scope="col">Order</th>
                    <th scope="col">Name</th>
                    <th scope="col">Thumb</th>
                    <th scope="col">Date</th>
                    <th scope="col" class="text-right"><button class="btn btn-info btn-sm add-btn" title="Add Joureny" (click)="addJourney()"><i class="fa fa-plus"></i>&nbsp; Add New</button></th>
                  </tr>
                </thead>
                <tbody *ngIf="tourlist?.length">
                  <tr *ngFor="let tour of tourlist | paginate: { itemsPerPage: 10, autoHide:true, currentPage: p }; index as i">
                    <th scope="row">{{tour.order}}</th>
                    <td>{{tour.title}}</td>
                    <td><img src="http://craftedbycreative.com/{{tour.thumb}}"  height="40px"></td>
                    <td>{{tour.tourdate}}</td>
                    <td class="text-right">
                        <button data-id="{{ tour._id }}" class="btn btn-primary btn-circle" (click)="editJourney(tourid=tour._id)" title="Edit Joureny"><i class="fa fa-edit"></i></button>
                        <button data-id="{{ tour._id }}" (click)="viewTourdays(tourid=tour._id)" class="btn btn-success btn-circle ml-2" title="View Itinerary"><i class="fa fa-eye"></i></button>
                        <button data-id="{{ tour._id }}" (click)="delete(tourid=tour._id)" class="btn btn-danger btn-circle ml-2" title="Delete Joureny"><i class="fa fa-trash"></i></button>
                    </td>
                  </tr>
                </tbody>

                <tbody *ngIf="!tourlist?.length && !showLoader">
                  <tr>
                    <td colspan="5" class="text-center">No Data Found</td>
                  </tr>
              </tbody>

            </table>
              <div class="card-footer text-muted text-right" *ngIf="tourlist?.length > 10"><div class=""> <pagination-controls (pageChange)="p = $event"></pagination-controls></div></div>
              <div *ngIf="showLoader"><app-loader></app-loader></div>
        </div>

      </div>
</div>

