.shadebanner {
    position: absolute;
    z-index: 1;
}
.shadebanner img {
    max-width: 100px;
    max-height: 220px;
}
.shadebanner.shadeBtm {
    bottom: 30px;
    left: 0;
}
.shadebanner.shadeTop {
    top: 30px;
    right: 0;
}

.pos-rltv{
    position: relative;
    z-index: 2;
}

.bg-login-image {
  background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
  background-position: center;
  background-size: cover;
}
.login-bg{
    background: #ffffff;
}
