<app-header></app-header>
<div class="container-fluid">

  <div class="card shadow mb-4">
    <!-- <div class="card-header">
      <h5 class="card-title mt-3 text-left">Add Journey</h5>
    </div> -->
    <div class="card-header py-3">
      <h5 class="card-title mt-0 mb-0 text-left">Add Journey</h5>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
          <form [formGroup]="journeyform" (ngSubmit)="onSubmit()">
            <div class="row">
              <input type="hidden" id="id" formControlName="id" class="form-control" name="id" value="">
              <div class="form-group col-md-2">
                <label>Order</label>
                <input type="text" formControlName="order" placeholder="Order" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.order.errors }" />
                <div *ngIf="submitted && f.order.errors" class="invalid-feedback">
                  <div *ngIf="f.order.errors.required">Title is required</div>
                </div>
              </div>
              <div class="form-group col-md-10">
                <label>Title</label>
                <input type="text" formControlName="title" placeholder="Title" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.title.errors }" />
                <div *ngIf="submitted && f.title.errors" class="invalid-feedback">
                  <div *ngIf="f.title.errors.required">Title is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Short Description</label>
                <input type="text" formControlName="sortdescription" placeholder="Short Description"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.sortdescription.errors }" />
                <div *ngIf="submitted && f.sortdescription.errors" class="invalid-feedback">
                  <div *ngIf="f.sortdescription.errors.required">Short Description is required</div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="form-group col-md-12">
                <label>Description</label>
                <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="description"
                  [(ngModel)]="description"></app-ngx-editor>

                <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                  <div *ngIf="f.description.errors.required">Description is required</div>
                </div>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-3">
                <app-imageupload [passThumbUrl]="passThumb"></app-imageupload>
              </div>
              <div class="form-group col-md-3">
                <app-bannerupload [passBannerUrl]="passBanner"></app-bannerupload>
              </div>
              <div class="form-group col-md-3">
                <app-fileupload [passFileUrl]="passFile"></app-fileupload>
              </div>
              <div class="form-group col-md-3">
                <app-icon [passIconUrl]="passIcon"></app-icon>
              </div>
              <input type="hidden"  formControlName="banner" class="form-control" name="banner" />
              <input type="hidden" formControlName="thumb" class="form-control" name="thumb" />
              <input type="hidden" formControlName="attachment" class="form-control" name="attachment" />
              <input type="hidden"  formControlName="icon" class="form-control" name="icon" />
            </div>

            <div class="row">
              <div class="form-group col-md-4">
                <label>Date</label>
                <input type="text" formControlName="tourdate" placeholder="Date" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.tourdate.errors }" />
                <div *ngIf="submitted && f.tourdate.errors" class="invalid-feedback">
                  <div *ngIf="f.tourdate.errors.required">Date is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Tour Duration</label>
                <input type="text" formControlName="tourduration" placeholder="Tour Duration" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.tourduration.errors }" />
                <div *ngIf="submitted && f.tourduration.errors" class="invalid-feedback">
                  <div *ngIf="f.tourduration.errors.required">Duration is required</div>
                </div>
              </div>

              <div class="form-group col-md-4">
                <label>Tour Cities</label>
                <input type="text" formControlName="tourcitys" placeholder="Cities" class="form-control"
                  [ngClass]="{ 'is-invalid': submitted && f.tourcitys.errors }" />
                <div *ngIf="submitted && f.tourcitys.errors" class="invalid-feedback">
                  <div *ngIf="f.tourcitys.errors.required">Short Description is required</div>
                </div>
              </div>

            </div>
            <div class="row">
              <div class="form-group col-md-4">
                <label>Tour Package Days/Nights</label>
                <input type="text" formControlName="tourdays" placeholder="Tour Package Days/Nights"
                  class="form-control" [ngClass]="{ 'is-invalid': submitted && f.tourdays.errors }" />
                <div *ngIf="submitted && f.tourdays.errors" class="invalid-feedback">
                  <div *ngIf="f.tourdays.errors.required">Short Description is required</div>
                </div>
              </div>
              <div class="form-group col-md-4">
                <label>Theme Color</label>
                <ng-select [items]="themItems" bindLabel="name" formControlName="them" bindValue="code" placeholder="Select city" [(ngModel)]="selectedthem">
                  <ng-template ng-option-tmp let-item="item" let-index="index">
                      <span [ngStyle]="{background: item.code}" class="colorBox"></span>
                      <b>{{item.name}}</b>
                  </ng-template>
                </ng-select>
              </div>
              <div class="form-group col-md-4">
                <label>Tour Expert</label>
                <ng-select formControlName="expert" [(ngModel)]="selectedexpert">
                  <ng-option *ngFor="let experts of expertlist;" [value]="experts._id">{{experts.firstname}}</ng-option>
                </ng-select>
              </div>
            </div>

            <div class="row">
              <div class="form-group col-md-12">
                <label>Highlights </label>
                <app-ngx-editor [placeholder]="'Enter text here...'" [spellcheck]="true" formControlName="advantages"
                  [(ngModel)]="advantages"></app-ngx-editor>
                <div *ngIf="submitted && f.advantages.errors" class="invalid-feedback">
                  <div *ngIf="f.advantages.errors.required">Description is required</div>
                </div>
              </div>
            </div>

            <div class="row">
                <div class="form-group col-md-12">
                    <label>Related Itinerary </label>
                    <ng-select [multiple]="true" formControlName="related" [(ngModel)]="selectedrelated">
                        <ng-option *ngFor="let related of relatedlist;" [value]="related._id">{{related.title}}</ng-option>
                    </ng-select>
                </div>
            </div>

          </form>

          <!-- Success message -->

          <div class="alert alert-success" role="alert" *ngIf="showSucessMessage">
            {{message}}
          </div>

          <div class="alert alert-warning" role="alert" *ngIf="showWarningMessage">
            {{message}}
          </div>

          <!-- Error message -->
          <div class="alert" *ngIf="serverErrorMessages">
            {{serverErrorMessages}}
          </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted">
      <button type="button" class="btn btn-secondary " (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
      <button type="button" (click)="onSubmit()" class="btn btn-brand ml-3"><i class="fa fa-save"></i> Submit</button>
    </div>
  </div>
</div>
