<app-header></app-header>
<div class="container-fluid">

  <div class="card">
    <div class="card-header">
      <h5 class="card-title mt-0 mb-0 text-left">Add Expert</h5>
    </div>

    <div class="card-body">
      <div class="row">
        <div class="col-md-12">
            <form [formGroup]="expertform" (ngSubmit)="onSubmit()">
                <div class="row">
                    <input type="hidden" id="id" formControlName="id" class="form-control" name="id" value="">
                    <div class="form-group col-md-4">
                        <label>Full Name</label>
                        <input type="text" formControlName="firstname" placeholder="Full Name" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.firstname.errors }" />
                        <div *ngIf="submitted && f.firstname.errors" class="invalid-feedback">
                            <div *ngIf="f.firstname.errors.required">Name is required</div>
                        </div>
                    </div>
                   
                    <div class="form-group col-md-8">
                      <label>Designation</label>
                      <input type="text" formControlName="designation" placeholder="Designation" class="form-control" [(ngModel)]="selectedValue" [ngClass]="{ 'is-invalid': submitted && f.designation.errors }" />
                      <div *ngIf="submitted && f.designation.errors" class="invalid-feedback">
                          <div *ngIf="f.designation.errors.required">Designation is required</div>
                      </div>
                  </div>
                </div>
                <div class="row">

                    <div class="form-group col-md-12">
                        <label>Description</label>
                        <textarea formControlName="description" placeholder="Description" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.description.errors }" rows="4"></textarea>
                        <div *ngIf="submitted && f.description.errors" class="invalid-feedback">
                            <div *ngIf="f.description.errors.required">Description is required</div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="form-group col-md-4">
                        <app-imageupload [passThumbUrl]="passThumb"></app-imageupload>
                    </div>
                </div>
                <input type="hidden" id="thumb" formControlName="thumb" class="form-control" name="thumb" />
                <div *ngIf="submitted && f.thumb.errors" class="invalid-feedback">
                    <div *ngIf="f.thumb.errors.required">Image Upload is required</div>
                </div>
            </form>

             <!-- Success message -->
             
             <div class="alert alert-success" role="alert" *ngIf="showSucessMessage">
                {{message}}
              </div>
            
              <div class="alert alert-warning" role="alert" *ngIf="showWarningMessage">
                  {{message}}
              </div>
      
              <!-- Error message -->
              <div class="alert" *ngIf="serverErrorMessages">
                {{serverErrorMessages}}
              </div>
        </div>
      </div>
    </div>

    <div class="card-footer text-muted">
        <button type="button" class="btn btn-secondary " (click)="goBack()"><i class="fa fa-arrow-left"></i> Back</button>
        <button type="button" (click)="onSubmit()" class="btn btn-brand ml-3"><i class="fa fa-save"></i> Submit</button>
      </div>
  </div>
</div>
